pnpm.overrides.esbuild@<=0.24.2=>=0.25.0
pnpm.overrides.cookie@<0.7.0=>=0.7.0
pnpm.overrides.serialize-javascript@<=7.0.2=>=7.0.3
pnpm.overrides.serialize-javascript@<7.0.5=>=7.0.5
pnpm.overrides.vite=>=7.0.0